In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Importing

In [2]:
df = pd.read_csv('../datasets/imdb_movies.csv')

In [3]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [9]:
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country', 'id'],
      dtype='object')

In [7]:
df['id'] = [i for i in range(1, (len(df))+1)]

In [10]:
'''The following columns are actually required and will be kept:
1. genres
2. id
3. keywords
4. title
5. overview
6. cast
7. crew
8. director'''

df = df[['id', 'names', 'overview', 'genre', 'score', 'crew']]

In [11]:
df.head()

,id,names,overview,genre,score,crew
0,1,Creed III,"After dominating the boxing world, Adonis Cree...","Drama, Action",73.0,"Michael B. Jordan, Adonis Creed, Tessa Thompso..."
1,2,Avatar: The Way of Water,Set more than a decade after the events of the...,"Science Fiction, Adventure, Action",78.0,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt..."
2,3,The Super Mario Bros. Movie,"While working underground to fix a water main,...","Animation, Adventure, Family, Fantasy, Comedy",76.0,"Chris Pratt, Mario (voice), Anya Taylor-Joy, P..."
3,4,Mummies,"Through a series of unfortunate events, three ...","Animation, Comedy, Family, Adventure, Fantasy",70.0,"Óscar Barberán, Thut (voice), Ana Esther Albor..."
4,5,Supercell,Good-hearted teenager William always lived in ...,Action,61.0,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin..."

In [23]:
df.isnull().sum()

id          0
names       0
overview    0
genre       0
score       0
crew        0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [22]:
df.dropna(inplace = True)

/tmp/ipykernel_45052/1791587065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [24]:
len(df)

10052

## Bringing Data in Right Format